.table-container {
  width: 900px; //change this to dynamic
  height: 900px; //change this to dynamic
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-image: url('../../../../assets/images/other/table.jpg');
}

.table-container > div {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center; /* center items vertically, in this case */
  align-items: center; /* center items horizontally, in this case */
}

.upper-board {
  flex: 1;
  flex-grow: 2.5;
}

.middle-board {
  flex: 1;
  flex-direction: row;
  flex-grow: 5;
}

.lower-board {
  flex: 1;
  flex-grow: 2.5;
}

.upper-person-area {
  width: 100%;
  height: 100%;
  flex: 1;
}

.right-person-area {
  width: 100%;
  height: 100%;
  flex: 1;
  flex-grow: 2;
}

.left-person-area {
  width: 100%;
  height: 100%;
  flex: 1;
  flex-grow: 2;
}

.card-area {
  width: 100%;
  height: 100%;
  //background: darkgreen;
  //opacity: 25%;
  border-style: dashed;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 6;
}

.card-upper-layer {
  width: 100%;
  height: 100%;
  flex: 1;
  flex-grow: 3.8;
  display: flex;
  justify-content: center; /* center items vertically, in this case */
  align-items: center; /* center items horizontally, in this case */
}

.card-middle-layer {
  width: 100%;
  height: 100%;
  flex: 1;
  flex-grow: 2.4;
  display: flex;
  flex-direction: row;
}

.card-lower-layer {
  width: 100%;
  height: 100%;
  flex: 1;
  flex-grow: 3.8;
  display: flex;
  justify-content: center; /* center items vertically, in this case */
  align-items: center; /* center items horizontally, in this case */
}

.vertical-card-image {
  width: 15%;
  height: auto;
}

.horizontal-card-image {
  width: 45%;
  height: auto;
  transform: rotate(90deg);
}

.middle-inside-layer {
  width: 100%;
  height: 100%;
}
