<h1 mat-dialog-title> Create Table</h1>
<mat-spinner
  *ngIf="isLoading"
  color="accent"
  class="custom-spinner">
</mat-spinner>
<div *ngIf="!isLoading" mat-dialog-content>
  <mat-form-field>
    <mat-label>Table name</mat-label>
    <input matInput [formControl]="dialogFormControl">
  </mat-form-field>
  <div class="mat-error" *ngIf="dialogFormControl.invalid">{{errorMessage}}</div>
</div>
<div *ngIf="!isLoading" mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="accent" (click)="createTable()" cdkFocusInitial>Create</button>
</div>
